* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:lightgreen;
}

.bor {
  border: 1px solid black;
}
/* ----------------------------------------- */
/*            PAGE SETUP                   */
/* ----------------------------------------- */
.page-wrapper {
  display: flex;
  height: 100vh;
  white-space: nowrap;
  /* flex-flow: row wrap; */  
}

.aside-left .my-user-menu,
.right-wrapper .contact-menu,
.right-wrapper .input-panel {
  height: 100px;

  border: 1px solid black;
}
/* .page-wrapper .aside-left {
  
  height: calc(100vh - 100px);
  background-color: #000;
} */
/* ----------------------------------------- */
/*            LEFT SIDE                   */
/* ----------------------------------------- */
.aside-left {
  /* flex-basis: 25%; */
  flex-grow: 1;
  

  border: 1px solid black;
  /* height: 300px; */
}

/* ----------------------------------------- */
/*            RIGHT SIDE                  */
/* ----------------------------------------- */
.right-wrapper {
  /* flex-basis: 75%; */
  flex-grow: 4;
  
  border: 1px solid black;
  /* height: 300px; */
}
.right-wrapper .current-chat {
  height: calc(100vh - 200px);;
}
